<div class="main">
    <div class="logo">
        <h2>PasswordManager</h2>
        <p>Please login to your account</p>
    </div>
    <div class="form-container">
        <form>
            <div class="input-container">
                <p>Email</p>
                <input type="text" placeholder="Email">
            </div>
            <div class="input-container">
                <p>Password</p>
                <input type="password" placeholder="Password">
            </div>
            <div class="remember-me">
                <input type="checkbox">
                <p>Remember me</p>
            </div>
            <button id="loginButton">Login</button>
        </form>
        <div>
            <div class="login-services">
                <!-- TODO: Logos of login services -->
            </div>
            <p>Don't you have an account yet? <a href="#">Sign up</a></p>
        </div>
    </div>
</div>
