<div class="form-container">
  <form [formGroup]="createPasswordForm" (ngSubmit)="onSubmit()">
    <div class="input-container">
        <p>Site</p>
        <input formControlName="site" type="text" placeholder="Site">
      </div>
      <div class="input-container">
          <p>Email or Username</p>
          <input formControlName="username" type="text" placeholder="Email">
      </div>
      <div class="input-container">
          <p>Password</p>
          <input formControlName="password" type="password" placeholder="Password">
      </div>
      <button type="submit" class="default-button">Save</button>
      <button routerLink="/password-list" style="background-color: crimson; margin-top: 1rem" class="default-button">Cancel</button>
    </form>
</div>
