<div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input-container">
            <p>Email</p>
            <input formControlName="email" type="text" placeholder="Email">
        </div>
        <div class="input-container">
            <p>Password</p>
            <input formControlName="password" type="password" placeholder="Password">
        </div>
        <div class="remember-me">
            <input type="checkbox">
            <p>Remember me</p>
        </div>
        <button type="submit" class="default-button">Login</button>
      </form>
    <div>
        <div class="login-services">
            <!-- TODO: Logos of login services -->
        </div>
        <p>Don't you have an account yet? <a routerLink="/sign-up" routerLinkActive="active">Sign up</a></p>
    </div>
</div>
